.container {
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
  position: fixed;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
    transform: scale(4);
}
